---
import Default from './Default.astro'

interface Props {
  title: string
  description?: string
}
const { title, description } = Astro.props
---

<Default title={title} description={description}>
  <div class="sections-wrapper w-full [&>section]:py-16 [&>section]:w-full">
    <slot />
  </div>
</Default>
